
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center v-center main">
          <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
          <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
          <p id="profile-name" class="profile-name-card">MOBILE VERIFICATION</p>
          <form class="form-signin">
              <span id="reauth-email" class="reauth-email"></span>
              <input type="text" id="inputEmail" class="form-control" placeholder="Email Mobile" required autofocus>
              <input type="password" id="inputPassword" class="form-control" required>
              <button class="btn btn-lg btn-primary btn-block btn-signin" type="button" data-toggle="modal" data-target="#exampleModal">VERIFY MOBILE</button>
          </form><!-- /form -->
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog text-center v-center main" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5 class="modal-title" id="exampleModalLabel">ENTER CODE</h5>
                <input type="text" id="inputEmail" class="form-control" placeholder="_ _ _ _" required autofocus>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-primary btn-block btn-signin">CONFIRM</button>
            </div>
        </div>
      </div>
    </div>
</div>
