
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center v-center main">
          <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
          <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
          <p id="profile-name" class="profile-name-card">CLIENT REGISTRATION</p>

          <form class="form-signin" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
              <span id="reauth-email" class="reauth-email"></span>

              <input type="text"  class="form-control" name="mobile" [(ngModel)]="model.mobile" #mobile="ngModel" [ngClass]="{ 'is-invalid': f.submitted && mobile.invalid }" placeholder="Email Mobile" required autofocus>
              <div *ngIf="f.submitted && mobile.invalid" class="invalid-feedback">
                    <div *ngIf="mobile.errors.required">Mobile is required</div>
             </div>

              <input type="password" class="form-control" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" [ngClass]="{ 'is-invalid': f.submitted && password.invalid }" required minlength="6">
              <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
                    <div *ngIf="password.errors.minlength">Password must be at least 6 characters</div>
                    <div *ngIf="password.errors.required">Password is required</div>
               </div>

              <p id="profile-name" class="profile-name-card">PERSONAL</p>

              <input type="text" class="form-control" name="fullname" [(ngModel)]="model.fullname" #fullname="ngModel" [ngClass]="{ 'is-invalid': f.submitted && fullname.invalid }" placeholder="FULL NAME" required>
              <div *ngIf="f.submitted && fullname.invalid" class="invalid-feedback">
                    <div *ngIf="fullname.errors.required">Name is required</div>
                </div>

              <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" placeholder="EMAIL ADDRESS" required>
              <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                    <div *ngIf="email.errors.required">Email is required</div>
                </div>

              <input type="text" class="form-control" name="address" [(ngModel)]="model.address" #address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && address.invalid }" placeholder="HOME ADDRESS" required>
              <div *ngIf="f.submitted && address.invalid" class="invalid-feedback">
                    <div *ngIf="address.errors.required">Address is required</div>
                </div>

              <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">REGISTER</button>
          </form><!-- /form -->


        </div>
    </div>
</div>